<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <div class="wrapper">
      <aside class="sidebar">
        <nav>
          <ul>
            <li>
              <button class="nav-btn"><i class="fas fa-home"></i> Home</button>
            </li>
            <li class="dropdown">
              <button class="nav-btn dropdown-btn">
                <i class="fas fa-table"></i> Tables
              </button>
              <ul class="dropdown-content">
                <li>
                  <i class="fas fa-table"></i>
                  <form
                    action="{{ url_for('table.get_table_data', table_name='previous_week_league_standings') }}"
                    method="get"
                  >
                    <button class="table-btn" type="submit">
                      Previous Standings
                    </button>
                  </form>
                </li>
                <li>
                  <i class="fas fa-table"></i>
                  <form
                    action="{{ url_for('table.get_table_data', table_name='current_week_league_standings') }}"
                    method="get"
                  >
                    <button class="table-btn" type="submit">
                      Current League Standings
                    </button>
                  </form>
                </li>
                <li>
                  <i class="fas fa-table"></i>
                  <form
                    action="{{ url_for('table.get_table_data', table_name='completed_matches') }}"
                    method="get"
                  >
                    <button class="table-btn" type="submit">
                      Completed Matches
                    </button>
                  </form>
                </li>
                <li>
                  <i class="fas fa-table"></i>
                  <form
                    action="{{ url_for('table.get_table_data', table_name='upcoming_matches') }}"
                    method="get"
                  >
                    <button class="table-btn" type="submit">
                      Upcoming Matches
                    </button>
                  </form>
                </li>
                <li>
                  <i class="fas fa-table"></i>
                  <form
                    action="{{ url_for('table.get_table_data', table_name='training_data') }}"
                    method="get"
                  >
                    <button class="table-btn" type="submit">
                      Training Data
                    </button>
                  </form>
                </li>
              </ul>
            </li>
            <li>
              <button class="nav-btn"><i class="fas fa-eye"></i> Views</button>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="main-content">
        <div class="dashboard">
          <h1>Admin Page</h1>
          <p>Click the buttons below to update the standings.</p>

          <form action="{{ url_for('standings.previous') }}" method="get">
            <button type="submit">Update Previous Standings</button>
          </form>

          <form action="{{ url_for('standings.current') }}" method="get">
            <button type="submit">Update Current Standings</button>
          </form>

          <form action="{{ url_for('matches.completed') }}" method="get">
            <button type="submit">Update Completed Matches</button>
          </form>

          <form action="{{ url_for('matches.upcoming') }}" method="get">
            <button type="submit">Update Upcoming Matches</button>
          </form>

          <form action="{{ url_for('training.training') }}" method="get">
            <button type="submit">Update Training Data Table</button>
          </form>

          <p>Click the button below to create all database tables.</p>
          <form action="{{ url_for('admin.create_tables') }}" method="get">
            <button type="submit">Create Tables</button>
          </form>

          {% if season_start %}
          <p>Click the button below to create all database tables.</p>
          <form
            action="{{ url_for('standings.create_initial_table') }}"
            method="post"
          >
            <button type="submit">
              It's the beginning of the season. Set the League standings
            </button>
          </form>
          {% endif %}
        </div>
        <div class="search-bar">
          <input type="text" id="search-input" placeholder="Search..." />
          <button class="update-btn">Update</button>
          <button class="delete-btn">Delete</button>
        </div>
        <div class="table-section">
          <table id="data-table">
            <thead>
              <tr>
                <!-- Dynamically loop through column names and render them as table headers -->
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <!-- Loop through data and render table rows -->
              {% for row in data_values %}
              <tr>
                {% for column in columns %}
                <td>{{ row[column] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </div>
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
