<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <div class="wrapper">
      <aside class="sidebar">
        <nav>
          <ul>
            <li>
              <button class="nav-btn"><i class="fas fa-home"></i> Home</button>
            </li>
            <li class="dropdown">
              <button class="nav-btn dropdown-btn">
                <i class="fas fa-table"></i> Tables
              </button>
              <ul class="dropdown-content">
                <li>
                  <button class="table-btn">
                    <i class="fas fa-table"></i> Previous Standings
                  </button>
                </li>
                <li>
                  <button class="table-btn">
                    <i class="fas fa-table"></i> Current Standings
                  </button>
                </li>
                <li>
                  <button class="table-btn">
                    <i class="fas fa-table"></i> Completed Matches
                  </button>
                </li>
                <li>
                  <button class="table-btn">
                    <i class="fas fa-table"></i> Upcoming Matches
                  </button>
                </li>
                <li>
                  <button class="table-btn">
                    <i class="fas fa-table"></i> Training Data
                  </button>
                </li>
              </ul>
            </li>
            <li>
              <button class="nav-btn"><i class="fas fa-eye"></i> Views</button>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="main-content">
        <div class="dashboard">
          <h1>Admin Page</h1>
          <p>Click the buttons below to update the standings.</p>

          <form action="{{ url_for('standings.previous') }}" method="get">
            <button type="submit">Update Previous Standings</button>
          </form>

          <form action="{{ url_for('standings.current') }}" method="get">
            <button type="submit">Update Current Standings</button>
          </form>

          <form action="{{ url_for('matches.completed') }}" method="get">
            <button type="submit">Update Completed Matches</button>
          </form>

          <form action="{{ url_for('matches.upcoming') }}" method="get">
            <button type="submit">Update Upcoming Matches</button>
          </form>

          <form action="{{ url_for('training.training') }}" method="get">
            <button type="submit">Update Training Data Table</button>
          </form>

          <p>Click the button below to create all database tables.</p>
          <form action="{{ url_for('admin.create_tables') }}" method="get">
            <button type="submit">Create Tables</button>
          </form>

          {% if season_start %}
          <p>Click the button below to create all database tables.</p>
          <form
            action="{{ url_for('standings.create_initial_table') }}"
            method="post"
          >
            <button type="submit">
              It's the beginning of the season. Set the League standings
            </button>
          </form>
          {% endif %}
        </div>
        <div class="search-bar">
          <input type="text" id="search-input" placeholder="Search..." />
          <button class="update-btn">Update</button>
          <button class="delete-btn">Delete</button>
        </div>
        <div class="table-section">
          <table id="data-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Match</th>
                <th>Date</th>
                <th>Odds (1 x 2)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>32801</td>
                <td>Arsenal vs Brighton</td>
                <td>2024-09-01</td>
                <td>1.34 | 5.48 | 8.43</td>
              </tr>
              <tr>
                <td>32682</td>
                <td>Brentford FC vs Southampton</td>
                <td>2024-09-01</td>
                <td>1.76 | 3.95 | 4.37</td>
              </tr>
              <tr>
                <td>32817</td>
                <td>Everton vs Bournemouth</td>
                <td>2024-09-01</td>
                <td>2.71 | 3.39 | 2.59</td>
              </tr>
              <tr>
                <td>32698</td>
                <td>Ipswich Town vs Fulham</td>
                <td>2024-09-01</td>
                <td>2.99 | 3.51 | 2.32</td>
              </tr>
              <tr>
                <td>16707</td>
                <td>Leicester vs Aston Villa</td>
                <td>2024-09-01</td>
                <td>4.39 | 3.87 | 1.77</td>
              </tr>
              <tr>
                <td>32708</td>
                <td>Nottingham Forest vs Wolves</td>
                <td>2024-09-01</td>
                <td>2.04 | 3.64 | 3.50</td>
              </tr>
              <tr>
                <td>32857</td>
                <td>West Ham vs Man City</td>
                <td>TBD</td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
